<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title><%= titulo %></title>
</head>
<body>
    <p><%= titulo  %> </p>
    <form action="agregar" method="post">
        <input type="text" placeholder="nombre" name="nombre">
        <input type="text" placeholder="numero" name="numero">
        <button type="submit">agregar</button>
        <hr>
        <% contactos.map(item => { %>
            <span>
                <a href="/contacto/<%= item.id %>">
                    <%= item.datos.nombre  %>
                </a> 
            </span>
            <span><%= item.datos.numero  %> </span>
            <span>
                <a href="/borrar/<%=item.id %>">borrar</a>
            </span>
            <br>

        <% }) %> 
    </form>
</body>
</html>